{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{# {{ attach_library('bootstrap_barrio/form') }} #}
{{ attach_library('innoraft/login-form') }}
<form{{ attributes.addClass('form-wrapper') }}>
  <h2 class="text--blue">{{ 'One-time Login'|t }}</h2>
  {{ children }}
</form>
